.user{
    display: flex;
    background: #a8c9a8;
    border: solid 2px;
    border-radius: 10px;
    justify-content: space-between ;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}
.userDiv{
    display: flex;
    flex-direction: column;
    padding: 2px;

}