.App-temp{
  display: flex;
  flex-direction: column;
  background: #d7d4d4;
  border: solid 2px;
  border-radius: 10px;
  justify-content: center ;
  margin: 5px;
  padding: 5px;
  font-size: 35px;
  width: 400px;
}