.App-main{
  display: flex;
  margin: 10px;
  padding: 10px;
}
.App-temp{
  display: flex;
  flex-direction: column;
  background: #e5caca;
  border: solid 2px;
  border-radius: 10px;
  justify-content: center ;
  margin: 5px;
  padding: 5px;
  font-size: 35px;
  width: 400px;
}
