.comment{
    display: flex;
    background: #e3abab;
    border: solid 2px;
    border-radius: 10px;
    justify-content: space-between ;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}
.commentDiv{
    display: flex;
    flex-direction: column;
    padding: 10px;
}